<dynamic-primeng-form-control *ngFor="let controlModel of model; trackBy: trackByFn"
                              [group]="group"
                              [hasErrorMessaging]="controlModel.hasErrorMessages"
                              [model]="controlModel"
                              [ngClass]="[controlModel.cls.element.host, controlModel.cls.grid.host]"
                              [templates]="templates"
                              (blur)="onEvent($event, 0)"
                              (change)="onEvent($event, 1)"
                              (focus)="onEvent($event, 2)"></dynamic-primeng-form-control>