* {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 100%;
    margin: 0;
    padding: 0;
}

nav {
    padding: 3rem;
}

nav a {
    padding: 1rem;
}

pre {
    display: block;
    padding: 10px;
    margin: 0 0 10px;
    font-size: 13px;
    line-height: 1.42857143;
    color: #333;
    word-break: break-all;
    word-wrap: break-word;
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.content-padding {
    padding: 0 8rem;
}

.content-margin {
    margin: 4rem auto;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

.float-clear {
    clear: both;
}

.font-bold {
    font-weight: bold;
}

.comp-h2 {
    font-size: 30px;
    font-weight: 500;
    line-height: 1.1;
    margin: 0 40px;
    padding: 8px 16px;
}

.comp-h2 > span {

    color: white;
}

.live-edit {

    background-color: whitesmoke;
    resize: none;
    font-family: Consolas, "Courier New", "Helvetica Neue", Helvetica, Arial;
}

.live-edit:focus {

    box-shadow: none;
    outline: none;
}

.overflow-hidden {
    overflow: hidden;
}

.rounded {
    border-radius: 50% !important;
}

.text-center {
    text-align: center;
}

kendo-calendar {
    margin: 0 auto;
}

md-input {
    vertical-align: middle;
}

md-slide-toggle {
    display: inline-block !important;
}

.form-row {
    display: block;
}

.form-row label, md-input, md-radio-button {
    margin: 0 1rem;
}

.form-row, dynamic-form-material-control > div {
    margin-bottom: 1.6rem;
}

form:nth-of-type(2) dynamic-form-basic-control dynamic-form-basic-control {
    display: inline-block !important;
    margin: 0.8rem 0;
}

.form-array fieldset:not(:last-of-type) .btn-success,
.form-array fieldset:not(:last-of-type) .button.success,
.form-array fieldset:first-of-type .btn-default:nth-of-type(2),
.form-array fieldset:last-of-type .btn-default:nth-of-type(3),
.form-array fieldset:first-of-type .button.primary:nth-of-type(2),
.form-array fieldset:last-of-type .button.primary:nth-of-type(3),
.form-array fieldset:only-of-type .btn-danger,
.form-array fieldset:only-of-type .button.alert {
    display: none;
}

dynamic-form-material-example fieldset {
    border: none;
}

dynamic-form-material-example fieldset {
    border: none;
}

dynamic-form-kendo-control {
    display: block;
    margin: 2.5rem;
    text-align: center;
}

dynamic-form-material-control .md-list-item {
    justify-content: center;
}