.idea/
.DS_STORE
npm-debug.log

coverage/
dist/
docs/
test/
@ng2-dynamic-forms/

sample/aot/
sample/app/**/*.js
sample/app/**/*.js.map
sample/app/**/*.d.ts
sample/dist
sample/fonts
sample/images

node_modules/