.idea/

node_modules/

coverage/
dist/

example/node_modules/
example/app/**/*.js
example/app/**/*.js.map
example/app/**/*.d.ts

modules/**/node_modules/
modules/**/*.js
modules/**/*.js.map
modules/**/*.d.ts

typings/