<div class="overflow-hidden content-margin content-padding" style="width: 50%;">

    <form [formGroup]="formGroup" class="ui-grid ui-grid-responsive">

        <dynamic-form-primeng-control *ngFor="let controlModel of formModel" class="form-row"
                                      [controlGroup]="formGroup"
                                      [model]="controlModel"
                                      [hasErrorMessaging]="controlModel.hasErrorMessages"
                                      (change)="onChange($event)">

            <ng-template modelId="primeSelect" type="itemTemplate" let-item>

                <p>{{ item.label }}</p>

            </ng-template>

        </dynamic-form-primeng-control>
    </form>

    <pre>{{formGroup.value | json}}</pre>

</div>