<div [formGroup]="form"
     [ngClass]="model.cls.element.container"
     [ngSwitch]="model.type">

    <label *ngIf="!isCheckbox && model.label"
           [attr.for]="model.id"
           [ngClass]="model.cls.element.label">{{model.label}}</label>


    <md-checkbox *ngSwitchCase="'CHECKBOX'"
                 [align]="model.align"
                 [disabled]="model.disabled"
                 [formControlName]="model.id"
                 [id]="model.id"
                 [indeterminate]="model.indeterminate"
                 [name]="model.name"
                 [value]="model.value"
                 [ngClass]="model.cls.element.control"
                 [(ngModel)]="model.value"
                 (blur)="onBlur($event)"
                 (focus)="onFocus($event)">{{model.label}}</md-checkbox>


    <fieldset *ngSwitchCase="'CHECKBOX_GROUP'"
              [formGroupName]="model.id"
              [id]="model.id">

        <legend *ngIf="model.legend">{{model.legend}}</legend>

        <md-checkbox [align]="model.align"
                     [disabled]="model.disabled"
                     [formControlName]="model.id"
                     [id]="model.id"
                     [indeterminate]="model.indeterminate"
                     [name]="model.name"
                     [value]="model.value"
                     [ngClass]="model.cls.element.control"
                     [(ngModel)]="model.value"
                     (blur)="onBlur($event)"
                     (focus)="onFocus($event)">{{model.label}}</md-checkbox>
    </fieldset>


    <md-input *ngSwitchCase="'INPUT'"
              [autofocus]="model.autoFocus"
              [disabled]="model.disabled"
              [formControlName]="model.id"
              [id]="model.id"
              [max]="model.max"
              [min]="model.min"
              [name]="model.name"
              [placeholder]="model.placeholder"
              [step]="model.step"
              [type]="model.inputType"
              [ngClass]="model.cls.element.control"
              [(ngModel)]="model.value"
              (blur)="onBlur($event)"
              (focus)="onFocus($event)">

        <span *ngIf="model.prefix" md-prefix>{{model.prefix}}</span>
        <span *ngIf="model.suffix" md-suffix>{{model.suffix}}</span>
        <!--
        <md-hint *ngIf="model.showLength" align="end">
            {{characterCount}} / {{model.maxLength}}
        </md-hint>
        -->
    </md-input>


    <md-radio-group *ngSwitchCase="'RADIO_GROUP'"
                    [formControlName]="model.id"
                    [id]="model.id"
                    [name]="model.name"
                    [ngClass]="model.cls.element.control"
                    [(ngModel)]="model.value"
                    (blur)="onBlur($event)"
                    (focus)="onFocus($event)">

        <md-radio-button *ngFor="let option of model.options"
                         [disabled]="!!option.disabled"
                         [name]="model.name"
                         [value]="option.value">{{option.text}}</md-radio-button>
    </md-radio-group>

    <ng-content></ng-content>

</div>