<div [formGroup]="controlGroup"
     [ngClass]="model.cls.element.container"
     [ngSwitch]="model.type">

    <label *ngIf="!isCheckbox && model.label"
           [attr.for]="model.id"
           [ngClass]="model.cls.element.label">{{model.label}}</label>


    <fieldset *ngSwitchCase="'GROUP'"
              [formGroupName]="model.id"
              [name]="model.name"
              [ngClass]="[model.cls.element.control, model.cls.grid.control]">

        <legend *ngIf="model.legend">{{model.legend}}</legend>

        <dynamic-form-material-control *ngFor="let controlModel of model.group"
                                       [controlGroup]="control"
                                       [model]="controlModel"></dynamic-form-material-control>
    </fieldset>


    <div *ngSwitchCase="'ARRAY'"
         [formArrayName]="model.id"
         [ngClass]="[model.cls.element.control, model.cls.grid.control]">

        <fieldset *ngFor="let idx = index; let groupModel of model.groups"
                  [formGroupName]="idx">

            <dynamic-form-material-control *ngFor="let controlModel of groupModel.group"
                                           [controlGroup]="control.at(idx)"
                                           [model]="controlModel"></dynamic-form-material-control>

            <template [ngTemplateOutlet]="customTemplate"
                      [ngOutletContext]="groupModel"></template>

        </fieldset>

    </div>


    <md-checkbox *ngSwitchCase="'CHECKBOX'"
                 [align]="model.align"
                 [checked]="model.value"
                 [formControlName]="model.id"
                 [indeterminate]="model.indeterminate"
                 [name]="model.name"
                 [ngClass]="model.cls.element.control"

                 (blur)="onBlur($event)"
                 (change)="onChange($event)"
                 (focus)="onFocus($event)">{{model.label}}
    </md-checkbox>


    <fieldset *ngSwitchCase="'CHECKBOX_GROUP'"
              [formGroupName]="model.id"
              [name]="model.name"
              [ngClass]="model.cls.element.control">

        <legend *ngIf="model.legend">{{model.legend}}</legend>

        <md-checkbox *ngFor="let item of model.group"
                     [align]="item.align"
                     [checked]="model.value"
                     [formControlName]="item.id"
                     [indeterminate]="item.indeterminate"
                     [name]="item.name"
                     [ngClass]="item.cls.element.control"
                     (blur)="onBlur($event)"
                     (change)="onChange($event)"
                     (focus)="onFocus($event)"
                     [(ngModel)]="item.value">{{item.label}}</md-checkbox>

    </fieldset>


    <md-input *ngSwitchCase="'INPUT'"
              [autocomplete]="model.autoComplete"
              [autofocus]="model.autoFocus"
              [formControlName]="model.id"
              [hintLabel]="model.help"
              [list]="model.listId"
              [max]="model.max"
              [maxlength]="model.maxLength"
              [min]="model.min"
              [minlength]="model.minLength"
              [name]="model.name"
              [ngClass]="model.cls.element.control"
              [pattern]="model.pattern"
              [placeholder]="model.placeholder"
              [readonly]="model.readOnly"
              [required]="model.required"
              [spellcheck]="model.spellCheck"
              [step]="model.step"
              [tabindex]="model.tabIndex"
              [type]="model.inputType"
              (blur)="onBlur($event)"
              (change)="onChange($event)"
              (focus)="onFocus($event)"
              [(ngModel)]="model.value">

        <span *ngIf="model.prefix" md-prefix>{{model.prefix}}</span>
        <span *ngIf="model.suffix" md-suffix>{{model.suffix}}</span>

    </md-input>


    <md-radio-group *ngSwitchCase="'RADIO_GROUP'"
                    [formControlName]="model.id"
                    [name]="model.name"
                    [ngClass]="model.cls.element.control"
                    (blur)="onBlur($event)"
                    (change)="onChange($event)"
                    (focus)="onFocus($event)"
                    [(ngModel)]="model.value">

        <md-radio-button *ngFor="let option of model.options"
                         [name]="model.name"
                         [value]="option.value">{{option.label}}
        </md-radio-button>

    </md-radio-group>

    <ng-content></ng-content>

</div>