<div [formGroup]="controlGroup"
     [ngClass]="model.cls.element.container"
     [ngSwitch]="model.type">

    <label *ngIf="!isCheckbox && !isSwitch && model.label"
           [attr.for]="model.id"
           [innerHTML]="model.label"
           [ngClass]="model.cls.element.label"></label>


    <fieldset *ngSwitchCase="'GROUP'"
              [dynamicId]="bindId && model.id"
              [formGroupName]="model.id"
              [name]="model.name"
              [ngClass]="[model.cls.element.control, model.cls.grid.control]">

        <legend *ngIf="model.legend" [innerHTML]="model.legend"></legend>

        <dynamic-form-material-control *ngFor="let controlModel of model.group"
                                       [controlGroup]="control"
                                       [model]="controlModel"
                                       [nestedTemplate]="customTemplate"
                                       (blur)="onBlur($event)"
                                       (change)="onChange($event)"
                                       (focus)="onFocus($event)"></dynamic-form-material-control>
    </fieldset>


    <div *ngSwitchCase="'ARRAY'"
         [dynamicId]="bindId && model.id"
         [formArrayName]="model.id"
         [ngClass]="[model.cls.element.control, model.cls.grid.control]">

        <fieldset *ngFor="let groupModel of model.groups; let idx = index" [formGroupName]="idx">

            <dynamic-form-material-control *ngFor="let controlModel of groupModel.group"
                                           [bindId]="false"
                                           [controlGroup]="control.at(idx)"
                                           [model]="controlModel"
                                           [nestedTemplate]="nestedTemplate"
                                           (blur)="onBlur($event)"
                                           (change)="onChange($event)"
                                           (focus)="onFocus($event)"></dynamic-form-material-control>

            <template [ngTemplateOutlet]="customTemplate || nestedTemplate"
                      [ngOutletContext]="groupModel"></template>

        </fieldset>

    </div>


    <md-checkbox *ngSwitchCase="'CHECKBOX'"
                 [align]="model.align"
                 [checked]="model.checked"
                 [disabled]="model.disabled"
                 [dynamicId]="bindId && model.id"
                 [formControlName]="model.id"
                 [indeterminate]="model.indeterminate"
                 [name]="model.name"
                 [ngClass]="model.cls.element.control"
                 (blur)="onBlur($event)"
                 (change)="onChange($event)"
                 (focus)="onFocus($event)"><span [innerHTML]="model.label"></span>
    </md-checkbox>


    <fieldset *ngSwitchCase="'CHECKBOX_GROUP'"
              [dynamicId]="bindId && model.id"
              [formGroupName]="model.id"
              [name]="model.name"
              [ngClass]="model.cls.element.control">

        <legend *ngIf="model.legend" [innerHTML]="model.legend"></legend>

        <md-checkbox *ngFor="let item of model.group"
                     [align]="item.align"
                     [checked]="item.checked"
                     [disabled]="item.disabled"
                     [dynamicId]="bindId && item.id"
                     [formControlName]="item.id"
                     [indeterminate]="item.indeterminate"
                     [name]="item.name"
                     [ngClass]="item.cls.element.control"
                     (blur)="onBlur($event)"
                     (change)="onChange($event)"
                     (focus)="onFocus($event)"><span [innerHTML]="item.label"></span>
        </md-checkbox>

    </fieldset>


    <md-input *ngSwitchCase="'INPUT'"
              [autocomplete]="model.autoComplete"
              [autofocus]="model.autoFocus"
              [dynamicId]="bindId && model.id"
              [formControlName]="model.id"
              [hintLabel]="model.help"
              [list]="model.listId"
              [max]="model.max"
              [maxlength]="model.maxLength"
              [min]="model.min"
              [minlength]="model.minLength"
              [name]="model.name"
              [ngClass]="model.cls.element.control"
              [pattern]="model.pattern"
              [placeholder]="model.placeholder"
              [readonly]="model.readOnly"
              [required]="model.required"
              [spellcheck]="model.spellCheck"
              [step]="model.step"
              [tabindex]="model.tabIndex"
              [type]="model.inputType"
              (blur)="onBlur($event)"
              (change)="onChange($event)"
              (focus)="onFocus($event)">

        <span *ngIf="model.prefix" md-prefix [innerHTML]="model.prefix"></span>
        <span *ngIf="model.suffix" md-suffix [innerHTML]="model.suffix"></span>

    </md-input>


    <md-radio-group *ngSwitchCase="'RADIO_GROUP'"
                    [disabled]="model.disabled"
                    [dynamicId]="bindId && model.id"
                    [formControlName]="model.id"
                    [name]="model.name"
                    [ngClass]="model.cls.element.control"
                    (blur)="onBlur($event)"
                    (change)="onChange($event)"
                    (focus)="onFocus($event)">

        <md-radio-button *ngFor="let option of model.options"
                         [name]="model.name"
                         [value]="option.value"><span [innerHTML]="option.label"></span>
        </md-radio-button>

    </md-radio-group>


    <md-slide-toggle *ngSwitchCase="'SWITCH'"
                     [checked]="model.checked"
                     [disabled]="model.disabled"
                     [dynamicId]="bindId && model.id"
                     [formControlName]="model.id"
                     [name]="model.name"
                     [ngClass]="model.cls.element.control"
                     (change)="onChange($event)"><span [innerHTML]="model.label"></span>
    </md-slide-toggle>


    <md-textarea *ngSwitchCase="'TEXTAREA'" class="form-control"
              [attr.tabindex]="model.tabIndex"
              [dynamicId]="bindId && model.id"
              [cols]="model.cols"
              [formControlName]="model.id"
              [maxlength]="model.maxLength"
              [minlength]="model.minLength"
              [name]="model.name"
              [ngClass]="model.cls.element.control"
              [placeholder]="model.placeholder"
              [readonly]="model.readOnly"
              [required]="model.required"
              [rows]="model.rows"
              [spellcheck]="model.spellCheck"
              [wrap]="model.wrap"
              (blur)="onBlur($event)"
              (change)="onChange($event)"
              (focus)="onFocus($event)"></md-textarea>

    <ng-content></ng-content>

</div>