<div [hidden]="!isCompatible"
     [ngFormModel]="form"
     [ngSwitch]="model.type">

    <input *ngSwitchWhen="'CHECKBOX'"
           type="checkbox"
           [disabled]="model.disabled"
           [id]="model.id"
           [name]="model.name"
           [value]="model.value"
           [ngClass]="model.cls"
           [ngControl]="model.id"
           [(ngModel)]="model.value"
           (blur)="onBlur($event)"
           (focus)="onFocus($event)"/>

    <label [attr.for]="model.id"
           [hidden]="model.label.hidden"
           [ngClass]="model.label.cls">{{model.label.text}}
    </label>

    <input *ngSwitchWhen="'INPUT'"
           [attr.autoComplete]="model.autoComplete"
           [attr.max]="model.max"
           [attr.min]="model.min"
           [attr.step]="model.step"
           [autofocus]="model.autoFocus"
           [disabled]="model.disabled"
           [id]="model.id"
           [maxLength]="model.maxLength"
           [name]="model.name"
           [placeholder]="model.placeholder"
           [type]="model.inputType"
           [ngClass]="model.cls"
           [ngControl]="model.id"
           [(ngModel)]="model.value"
           (blur)="onBlur($event)"
           (focus)="onFocus($event)"/>

    <select *ngSwitchWhen="'SELECT'"
            [id]="model.id"
            [name]="model.name"
            [ngClass]="model.cls"
            [ngControl]="model.id"
            [(ngModel)]="model.value"
            (blur)="onBlur($event)"
            (focus)="onFocus($event)">

        <option *ngFor="let option of model.options"
                [disabled]="!!option.disabled"
                [attr.name]="model.name"
                [selected]="!!option.selected"
                [ngValue]="option.value">{{option.text}}
        </option>

    </select>

    <textarea *ngSwitchWhen="'TEXTAREA'"
              [cols]="model.cols"
              [disabled]="model.disabled"
              [id]="model.id"
              [name]="model.name"
              [placeholder]="model.placeholder"
              [rows]="model.rows"
              [wrap]="model.wrap"
              [ngClass]="model.cls"
              [ngControl]="model.id"
              [(ngModel)]="model.value"
              (blur)="onBlur($event)"
              (focus)="onFocus($event)">

    </textarea>

</div>