<div [formGroup]="controlGroup"
     [ngClass]="model.cls.element.container"
     [ngSwitch]="model.type">

    <input *ngSwitchCase="'CHECKBOX'"
           type="checkbox"
           [disabled]="model.disabled"
           [formControlName]="model.id"
           [id]="model.id"
           [name]="model.name"
           [required]="model.required"
           [value]="model.value"
           [ngClass]="model.cls.element.control"
           [(ngModel)]="model.value"
           (blur)="onBlur($event)"
           (focus)="onFocus($event)"/>

    <label *ngIf="model.label"
           [attr.for]="model.id"
           [ngClass]="model.cls.element.label">{{model.label}}</label>

    <div *ngSwitchCase="'ARRAY'"
         [formArrayName]="model.id">

        <div *ngFor="let idx = index; let group of model.groups"
             [formGroupName]="idx">

            <dynamic-form-basic-control *ngFor="let controlModel of group"
                                        [controlGroup]="controlGroup.controls[model.id].controls[idx]"
                                        [model]="controlModel"></dynamic-form-basic-control>

            <template [ngTemplateOutlet]="contentTemplate"></template>

        </div>

    </div>


    <fieldset *ngSwitchCase="'CHECKBOX_GROUP'"
              [disabled]="model.disabled"
              [formGroupName]="model.id"
              [id]="model.id"
              [name]="model.name">

        <legend *ngIf="model.legend">{{model.legend}}</legend>

        <label *ngFor="let item of model.group"
               [attr.for]="item.id"
               [ngClass]="item.cls.element.label">

            <input type="checkbox"
                   [disabled]="item.disabled"
                   [formControlName]="item.id"
                   [id]="item.id"
                   [name]="item.name"
                   [required]="model.required"
                   [value]="item.value"
                   [ngClass]="item.cls.element.control"
                   [(ngModel)]="item.value"
                   (blur)="onBlur($event)"
                   (focus)="onFocus($event)"/>{{item.label}}</label>
    </fieldset>


    <input *ngSwitchCase="'INPUT'"
           [attr.accept]="model.accept"
           [attr.autoComplete]="model.autoComplete"
           [attr.list]="model.listId"
           [attr.max]="model.max"
           [attr.maxlength]="model.maxLength"
           [attr.min]="model.min"
           [attr.multiple]="model.multiple"
           [attr.step]="model.step"
           [autofocus]="model.autoFocus"
           [disabled]="model.disabled"
           [formControlName]="model.id"
           [id]="model.id"
           [name]="model.name"
           [placeholder]="model.placeholder"
           [readonly]="model.readOnly"
           [required]="model.required"
           [spellcheck]="model.spellCheck"
           [type]="model.inputType"
           [ngClass]="model.cls.element.control"
           [(ngModel)]="model.value"
           (blur)="onBlur($event)"
           (focus)="onFocus($event)"/>

    <datalist *ngIf="model.list" [id]="model.listId">

        <option *ngFor="let option of model.list" [value]="option">

    </datalist>


    <fieldset *ngSwitchCase="'RADIO_GROUP'"
              role="radiogroup"
              [disabled]="model.disabled"
              [id]="model.id"
              [name]="model.name">

        <legend *ngIf="model.legend">{{model.legend}}</legend>

        <label *ngFor="let option of model.options">

            <input type="radio"
                   [disabled]="!!option.disabled"
                   [formControlName]="model.id"
                   [name]="model.name"
                   [value]="option.value"
                   [ngClass]="model.cls.element.control"
                   [(ngModel)]="model.value">{{option.label}}</label>
    </fieldset>


    <select *ngSwitchCase="'SELECT'"
            [disabled]="model.disabled"
            [formControlName]="model.id"
            [id]="model.id"
            [name]="model.name"
            [required]="model.required"
            [ngClass]="model.cls.element.control"
            [(ngModel)]="model.value"
            (blur)="onBlur($event)"
            (focus)="onFocus($event)">

        <option *ngFor="let option of model.options"
                [disabled]="!!option.disabled"
                [attr.name]="model.name"
                [ngValue]="option.value">{{option.label}}
        </option>

    </select>


    <textarea *ngSwitchCase="'TEXTAREA'"
              [attr.maxlength]="model.maxLength"
              [cols]="model.cols"
              [disabled]="model.disabled"
              [formControlName]="model.id"
              [id]="model.id"
              [name]="model.name"
              [placeholder]="model.placeholder"
              [readonly]="model.readOnly"
              [required]="model.required"
              [rows]="model.rows"
              [spellcheck]="model.spellCheck"
              [wrap]="model.wrap"
              [ngClass]="model.cls.element.control"
              [(ngModel)]="model.value"
              (blur)="onBlur($event)"
              (focus)="onFocus($event)"></textarea>

    <ng-content></ng-content>

</div>