<div class="overflow-hidden">

    <h2 style="background-color: darkgrey; color: white; margin: 0 4rem; padding: 0.75rem 1.5rem;">Basic UI</h2>

    <div class="float-left content-margin content-padding" style="width: 55%;">

        <form [formGroup]="form1">

            <dynamic-form-basic-control *ngFor="let controlModel of dynamicFormModel1.group" class="form-row"
                                        [controlGroup]="form1"
                                        [model]="controlModel"></dynamic-form-basic-control>
        </form>


        <form [formGroup]="form2">

            <div *ngFor="let controlModel of dynamicFormModel2.group" class="form-row">

                <dynamic-form-basic-control [controlGroup]="form2" [model]="controlModel">

                    <template>
                        <button type="button" (click)="remove(idx)">Remove Item</button>
                    </template>

                </dynamic-form-basic-control>

                <button type="button" (click)="add()">Add Group</button>
                <button type="button" (click)="clear()">Remove All</button>

            </div>

        </form>


        <!--
        <form [formGroup]="form2">

            <div formArrayName="basicFormArray">

                <div *ngFor="let idx = index; let group of dynamicFormModel2.findById('basicFormArray').groups"
                     [formGroupName]="idx">

                    <dynamic-form-basic-control *ngFor="let controlModel of group" class="form-row"
                                                [controlGroup]="form2.controls['basicFormArray'].controls[idx]"
                                                [model]="controlModel"
                                                style="display: inline-block;"></dynamic-form-basic-control>

                    <button type="button" (click)="remove(idx)">Remove Item</button>

                </div>

            </div>

            <button type="button" (click)="add()">Add Item</button>
            <button type="button" (click)="clear()">Remove All</button>

        </form>
        -->
    </div>

</div>