<div class="overflow-hidden">

    <h2 style="background-color: darkgrey; color: white; margin: 0 4rem; padding: 0.75rem 1.5rem;">Basic UI</h2>

    <div class="float-left content-margin content-padding" style="width: 55%;">

        <form [formGroup]="form1">

            <div *ngFor="let controlModel of dynamicFormModel1.group" class="form-row">

                <dynamic-form-basic-control [form]="form1"
                                            [model]="controlModel"></dynamic-form-basic-control>

            </div>

        </form>


        <form [formGroup]="form2">

            <div formArrayName="basicArray">

                <div *ngFor="let idx = index; let group of dynamicFormModel2.findById('basicArray').groups">

                    <div [formGroupName]="idx">

                        <div *ngFor="let controlModel of group" class="form-row">

                            <dynamic-form-basic-control [form]="form2.controls['basicArray'].controls[idx]"
                                                        [model]="controlModel" style="display: inline-block;"></dynamic-form-basic-control>

                            <button type="button" (click)="remove(idx)">Remove</button>

                        </div>

                    </div>

                </div>

                <button type="button" (click)="add()">Add Group</button>

            </div>

        </form>

    </div>

</div>