<div [formGroup]="group" [ngClass]="[model.cls.element.container, model.cls.grid.container]">

    <label *ngIf="type !== 'CHECKBOX' && type !== 'INPUT'"
           [attr.for]="model.id"
           [innerHTML]="model.label"
           [ngClass]="[model.cls.element.label, model.cls.grid.label]"></label>


    <ng-template *ngIf="hasStartTemplate && type !== 'ARRAY'"
                 [ngTemplateOutlet]="template"
                 [ngTemplateOutletContext]="model"></ng-template>


    <ng-container [ngSwitch]="type">

        <div *ngSwitchCase="'ARRAY'"
             [dynamicId]="bindId && model.id"
             [formArrayName]="model.id"
             [ngClass]="model.cls.element.control">

            <fieldset *ngFor="let groupModel of model.groups; let idx = index" [formGroupName]="idx">

                <dynamic-form-kendo-control *ngFor="let controlModel of groupModel.group"
                                            [bindId]="false"
                                            [context]="groupModel"
                                            [group]="control.at(idx)"
                                            [model]="controlModel"
                                            [nestedTemplates]="templateDirectives"
                                            (blur)="onFocusChange($event)"
                                            (change)="onValueChange($event)"
                                            (focus)="onFocusChange($event)"></dynamic-form-kendo-control>

                <ng-template [ngTemplateOutlet]="template" [ngTemplateOutletContext]="groupModel"></ng-template>

            </fieldset>

        </div>


        <kendo-autocomplete *ngSwitchCase="'AUTOCOMPLETE'"
                            [data]="model.list"
                            [dynamicId]="bindId && model.id"
                            [formControlName]="model.id"
                            [ngClass]="[model.cls.element.control, model.cls.grid.control]"
                            [placeholder]="model.placeholder"
                            [tabIndex]="model.tabIndex"
                            (blur)="onBlur($event)"
                            (focus)="onFocus($event)"
                            (valueChange)="onValueChange($event)"></kendo-autocomplete>


        <kendo-calendar *ngSwitchCase="'CALENDAR'"
                        [dynamicId]="bindId && model.id"
                        [focusedDate]="model.focusedDate"
                        [formControlName]="model.id"
                        [max]="model.max"
                        [min]="model.min"
                        [ngClass]="[model.cls.element.control, model.cls.grid.control]"
                        [rangeValidation]="true"
                        [tabIndex]="model.tabIndex"
                        (valueChange)="onValueChange($event)"></kendo-calendar>


        <label *ngSwitchCase="'CHECKBOX'" class="k-form-field">

            <input type="checkbox" class="k-checkbox"
                   [attr.tabindex]="model.tabIndex"
                   [checked]="model.checked"
                   [dynamicId]="bindId && model.id"
                   [formControlName]="model.id"
                   [name]="model.name"
                   [ngClass]="model.cls.element.control"
                   [required]="model.required"
                   [value]="model.value"
                   (blur)="onFocusChange($event)"
                   (change)="onValueChange($event)"
                   (focus)="onFocusChange($event)"/>

            <label class="k-checkbox-label" [for]="model.id" [innerHTML]="model.label"></label>

        </label>


        <fieldset *ngSwitchCase="'CHECKBOX_GROUP'" class="k-form-field"
                  [dynamicId]="bindId && model.id"
                  [formGroupName]="model.id"
                  [name]="model.name"
                  [ngClass]="model.cls.element.control">

            <legend *ngIf="model.legend" [innerHTML]="model.legend"></legend>

            <ng-container *ngFor="let controlModel of model.group">

                <input type="checkbox" class="k-checkbox"
                       [attr.tabindex]="controlModel.tabIndex"
                       [checked]="controlModel.checked"
                       [dynamicId]="bindId && controlModel.id"
                       [formControlName]="controlModel.id"
                       [name]="controlModel.name"
                       [ngClass]="controlModel.cls.element.control"
                       [required]="controlModel.required"
                       [value]="controlModel.value"
                       (blur)="onFocusChange($event)"
                       (change)="onValueChange($event)"
                       (focus)="onFocusChange($event)"/>

                <label class="k-checkbox-label" [for]="controlModel.id" [innerHTML]="controlModel.label"></label>

            </ng-container>

        </fieldset>


        <kendo-dateinput *ngSwitchCase="'DATE_INPUT'"
                         [dynamicId]="bindId && model.id"
                         [formControlName]="model.id"
                         [max]="model.max"
                         [min]="model.min"
                         [ngClass]="[model.cls.element.control, model.cls.grid.control]"
                         [rangeValidation]="true"
                         [spinners]="true"
                         [tabIndex]="model.tabIndex"
                         (blur)="onBlur($event)"
                         (focus)="onFocus($event)"
                         (valueChange)="onValueChange($event)"></kendo-dateinput>


        <kendo-datepicker *ngSwitchCase="'DATEPICKER'"
                          [dynamicId]="bindId && model.id"
                          [focusedDate]="model.focusedDate"
                          [format]="model.format"
                          [formControlName]="model.id"
                          [max]="model.max"
                          [min]="model.min"
                          [ngClass]="[model.cls.element.control, model.cls.grid.control]"
                          [rangeValidation]="true"
                          [tabIndex]="model.tabIndex"
                          (blur)="onBlur($event)"
                          (focus)="onFocus($event)"
                          (valueChange)="onValueChange($event)"></kendo-datepicker>


        <kendo-dropdownlist *ngSwitchCase="'DROPDOWNLIST'"
                            [data]="model.options"
                            [dynamicId]="bindId && model.id"
                            [filterable]="model.filterable"
                            [formControlName]="model.id"
                            [ngClass]="[model.cls.element.control, model.cls.grid.control]"
                            [tabIndex]="model.tabIndex"
                            [textField]="'label'"
                            [valueField]="'value'"
                            [valuePrimitive]="true"
                            (blur)="onBlur($event)"
                            (filterChange)="onFilterChange($event)"
                            (focus)="onFocus($event)"
                            (valueChange)="onValueChange($event)"></kendo-dropdownlist>


        <fieldset *ngSwitchCase="'GROUP'"
                  [dynamicId]="bindId && model.id"
                  [formGroupName]="model.id"
                  [name]="model.name"
                  [ngClass]="model.cls.element.control">

            <legend *ngIf="model.legend">{{model.legend}}</legend>

            <dynamic-form-kendo-control *ngFor="let controlModel of model.group"
                                        [group]="control"
                                        [model]="controlModel"
                                        [nestedTemplates]="templateDirectives"
                                        (blur)="onFocusChange($event)"
                                        (change)="onValueChange($event)"
                                        (focus)="onFocusChange($event)"></dynamic-form-kendo-control>
        </fieldset>


        <label *ngSwitchCase="'INPUT'" class="k-form-field">

            <span>
                <span [innerHTML]="model.label" [ngClass]="model.cls.element.label"></span>
                <span *ngIf="model.hint" class="k-field-info" [innerHTML]="model.hint"
                      [ngClass]="model.cls.element.hint"></span>
            </span>

            <input class="k-textbox"
                   [attr.accept]="model.accept"
                   [attr.autoComplete]="model.autoComplete"
                   [attr.list]="model.listId"
                   [attr.max]="model.max"
                   [attr.min]="model.min"
                   [attr.multiple]="model.multiple"
                   [attr.step]="model.step"
                   [attr.tabindex]="model.tabIndex"
                   [autofocus]="model.autoFocus"
                   [dynamicId]="bindId && model.id"
                   [formControlName]="model.id"
                   [maxlength]="model.maxLength"
                   [minlength]="model.minLength"
                   [name]="model.name"
                   [ngClass]="model.cls.element.control"
                   [pattern]="model.pattern"
                   [placeholder]="model.placeholder"
                   [readonly]="model.readOnly"
                   [required]="model.required"
                   [spellcheck]="model.spellCheck"
                   [type]="model.inputType"
                   (blur)="onFocusChange($event)"
                   (change)="onValueChange($event)"
                   (focus)="onFocusChange($event)"/>
        </label>


        <kendo-maskedtextbox *ngSwitchCase="'MASKED_TEXTBOX'"
                             [dynamicId]="bindId && model.id"
                             [formControlName]="model.id"
                             [mask]="model.mask"
                             [maskValidation]="true"
                             [ngClass]="[model.cls.element.control, model.cls.grid.control]"
                             [tabIndex]="model.tabIndex"
                             (blur)="onBlur($event)"
                             (focus)="onFocus($event)"
                             (valueChange)="onValueChange($event)"></kendo-maskedtextbox>


        <kendo-multiselect *ngSwitchCase="'MULTI_SELECT'"
                           [data]="model.options"
                           [dynamicId]="bindId && model.id"
                           [formControlName]="model.id"
                           [ngClass]="[model.cls.element.control, model.cls.grid.control]"
                           [placeholder]="model.placeholder"
                           [tabIndex]="model.tabIndex"
                           [textField]="'label'"
                           [valueField]="'value'"
                           [valuePrimitive]="true"
                           (blur)="onBlur($event)"
                           (focus)="onFocus($event)"
                           (valueChange)="onValueChange($event)"></kendo-multiselect>


        <kendo-numerictextbox *ngSwitchCase="'NUMERIC_TEXTBOX'"
                              [autoCorrect]="model.autoComplete"
                              [dynamicId]="bindId && model.id"
                              [formControlName]="model.id"
                              [max]="model.max"
                              [min]="model.min"
                              [ngClass]="[model.cls.element.control, model.cls.grid.control]"
                              [spinners]="true"
                              [step]="model.step"
                              [tabIndex]="model.tabIndex"
                              (blur)="onBlur($event)"
                              (focus)="onFocus($event)"
                              (valueChange)="onValueChange($event)"></kendo-numerictextbox>


        <fieldset *ngSwitchCase="'RADIO_GROUP'" class="k-form-field" role="radiogroup">

            <legend *ngIf="model.legend" [innerHTML]="model.legend"></legend>

            <ng-container *ngFor="let option of model.options$ | async; let idx = index">

                <input type="radio" class="k-radio"
                       [formControlName]="model.id"
                       [id]="'option' + idx + model.id"
                       [name]="model.name"
                       [ngClass]="model.cls.element.control"
                       [value]="option.value"
                       (blur)="onFocusChange($event)"
                       (focus)="onFocusChange($event)"/>

                <label class="k-radio-label" [for]="'option' + idx + model.id" [innerHTML]="option.label"></label>

            </ng-container>

        </fieldset>


        <kendo-slider *ngSwitchCase="'SLIDER'"
                      [dynamicId]="bindId && model.id"
                      [formControlName]="model.id"
                      [min]="model.min"
                      [max]="model.max"
                      [ngClass]="[model.cls.element.control, model.cls.grid.control]"
                      [showButtons]="true"
                      [smallStep]="model.step"
                      [tabIndex]="model.tabIndex"
                      [vertical]="model.vertical"
                      (valueChange)="onValueChange($event)"></kendo-slider>


        <kendo-switch *ngSwitchCase="'SWITCH'"
                      [checked]="model.checked"
                      [dynamicId]="bindId && model.id"
                      [formControlName]="model.id"
                      [ngClass]="[model.cls.element.control, model.cls.grid.control]"
                      [offLabel]="model.offLabel"
                      [onLabel]="model.onLabel"
                      [tabIndex]="model.tabIndex"
                      (valueChange)="onValueChange($event)"></kendo-switch>


        <textarea *ngSwitchCase="'TEXTAREA'" class="k-textarea"
                  [attr.tabindex]="model.tabIndex"
                  [cols]="model.cols"
                  [dynamicId]="bindId && model.id"
                  [formControlName]="model.id"
                  [maxlength]="model.maxLength"
                  [minlength]="model.minLength"
                  [name]="model.name"
                  [ngClass]="model.cls.element.control"
                  [placeholder]="model.placeholder"
                  [readonly]="model.readOnly"
                  [required]="model.required"
                  [rows]="model.rows"
                  [spellcheck]="model.spellCheck"
                  [wrap]="model.wrap"
                  (blur)="onFocusChange($event)"
                  (change)="onValueChange($event)"
                  (focus)="onFocusChange($event)"></textarea>


        <kendo-upload *ngSwitchCase="'UPLOAD'"
                      [autoUpload]="model.autoUpload"
                      [dynamicId]="bindId && model.id"
                      [formControlName]="model.id"
                      [multiple]="model.multiple"
                      [ngClass]="[model.cls.element.control, model.cls.grid.control]"
                      [removeUrl]="model.removeUrl"
                      [saveUrl]="model.url"
                      [showFileList]="model.showFileList"
                      [tabIndex]="model.tabIndex"></kendo-upload>

    </ng-container>


    <ul *ngIf="hasErrorMessaging"
        [class.hidden]="!showErrorMessages"
        [ngClass]="[model.cls.grid.errors]">

        <li *ngFor="let message of errorMessages" class="k-field-info"
            [ngClass]="[model.cls.element.errors]"
            style="color: #f31700;">{{message}}</li>

    </ul>


    <ng-template *ngIf="hasEndTemplate && type !== 'ARRAY'"
                 [ngTemplateOutlet]="template"
                 [ngTemplateOutletContext]="model"></ng-template>

    <ng-content></ng-content>

</div>