<div [formGroup]="controlGroup" [ngClass]="[model.cls.element.container, model.cls.grid.container]">

    <label [attr.for]="model.id"
           [innerHTML]="model.label"
           [ngClass]="[model.cls.element.label, model.cls.grid.label]"></label>

    <kendo-dropdownlist *ngIf="model.type === 'SELECT'"
                        [data]="model.options"
                        [disabled]="model.disabled"
                        [formControlName]="model.id"
                        [textField]="'label'"
                        [valueField]="'value'"
                        [valuePrimitive]="true"
                        (valueChange)="onValueChange($event)"></kendo-dropdownlist>


    <kendo-slider *ngIf="model.type === 'SLIDER'"
                  [disabled]="model.disabled"
                  [formControlName]="model.id"
                  [min]="model.min"
                  [max]="model.max"
                  [showButtons]="false"
                  [smallStep]="model.step"
                  [vertical]="model.vertical"
                  (valueChange)="onValueChange($event)"></kendo-slider>


    <kendo-switch *ngIf="model.type === 'SWITCH'"
                  [checked]="model.checked"
                  [disabled]="model.disabled"
                  [formControlName]="model.id"
                  [offLabel]="model.offLabel"
                  [onLabel]="model.onLabel"
                  (valueChange)="onValueChange($event)"></kendo-switch>

    <ng-content></ng-content>

</div>