<div [formGroup]="controlGroup" [ngClass]="[model.cls.element.container, model.cls.grid.container]">

    <label [attr.for]="model.id"
           [innerHTML]="model.label"
           [ngClass]="[model.cls.element.label, model.cls.grid.label]"></label>

    <kendo-dropdownlist *ngIf="model.type === 'SELECT'"
                        [data]="model.options"
                        [formControlName]="model.id"
                        [textField]="'label'"
                        [valueField]="'value'"
                        [valuePrimitive]="true"></kendo-dropdownlist>

    <kendo-switch *ngIf="model.type === 'SWITCH'"
                  [checked]="model.checked"
                  [formControlName]="model.id"
                  [offLabel]="model.offLabel"
                  [onLabel]="model.onLabel"></kendo-switch>

    <ng-content></ng-content>

</div>