<div class="content-margin" style="width: 50%;">

    <form [formGroup]="formGroup" class="k-form">

        <dynamic-form-kendo-control *ngFor="let controlModel of formModel"
                                    [group]="formGroup"
                                    [model]="controlModel"
                                    (change)="onChange($event)">

            <ng-template modelId="kendoDropDownList" type="kendoDropDownListFooterTemplate">

                <p>LIST FOOTER TEMPLATE</p>

            </ng-template>

            <ng-template modelId="kendoDropDownList" type="kendoDropDownListHeaderTemplate">

                <p>LIST HEADER TEMPLATE</p>

            </ng-template>

        </dynamic-form-kendo-control>

    </form>

    <pre>{{formGroup.value | json}}</pre>

</div>