<div class="content-margin" style="width: 50%;">

    <form class="text-center" [formGroup]="formGroup">

        <dynamic-form-material-control *ngFor="let controlModel of formModel"
                                       [group]="formGroup"
                                       [model]="controlModel"
                                       [hasErrorMessaging]="controlModel.hasErrorMessages"
                                       [showCharacterHint]="controlModel.type === 'INPUT'"
                                       (change)="onChange($event)">

            <ng-template *ngIf="controlModel.type === 'ARRAY'" let-index="index">

                <div>

                    <button md-mini-fab (click)="add()">Add Item</button>

                </div>

            </ng-template>

        </dynamic-form-material-control>

    </form>

    <pre>{{formGroup.value | json}}</pre>

</div>