<div class="overflow-hidden content-margin">

    <form class="text-center" [formGroup]="form">

        <dynamic-form-material-control *ngFor="let controlModel of dynamicFormModel"
                                       [controlGroup]="form"
                                       [model]="controlModel">

            <template *ngIf="controlModel.type === 'ARRAY'" let-index="index">

                <div>

                    <button md-mini-fab (click)="add()">Add Item</button>

                </div>

            </template>


        </dynamic-form-material-control>
    </form>

</div>