<div class="overflow-hidden">

    <h2 class="comp-h2" style="background-color: #009688;">

        <span>Material UI</span>

        <a class="float-right" title="View Source"
           href="https://github.com/udos86/ng2-dynamic-forms/blob/master/example/app/material/material-example.model.ts">
            <img src="../../assets/logo-github.png"
                 srcset="../../assets/logo-github.png 1x, ../../assets/logo-github@2x.png 2x" alt="Logo GitHub"/>
        </a>

    </h2>

    <div class="content-margin">

        <form class="text-center" [formGroup]="form">

            <dynamic-form-material-control *ngFor="let controlModel of dynamicFormModel"
                                           [controlGroup]="form"
                                           [model]="controlModel">

                <template *ngIf="controlModel.type === 'ARRAY'" let-index="index">

                    <div>

                        <button md-mini-fab (click)="add()">Add Item</button>

                    </div>

                </template>


            </dynamic-form-material-control>
        </form>

    </div>

</div>