<header>

    <h1 class="text-center">

        <img src="../assets/logo.png" srcset="../assets/logo.png 1x, ../assets/logo@2x.png 2x" alt="Logo ng2 Dynamic Forms" />
        <span>ng2 Dynamic Forms Samples</span>

    </h1>

    <nav class="text-center">

        <a [routerLink]="['/example-basic']">Basic UI</a>
        <a [routerLink]="['/example-bootstrap']">Bootstrap UI</a>
        <a [routerLink]="['/example-foundation']">Foundation UI</a>
        <a [routerLink]="['/example-material']">Material UI</a>
        <a [routerLink]="['/example-primeng']">PrimeNG UI</a>

    </nav>

</header>

<main>

    <router-outlet></router-outlet>

</main>