<div class="overflow-hidden">

    <h2 style="background-color: darkgrey; color: white; margin: 0 4rem; padding: 0.75rem 1.5rem;">Basic UI</h2>

    <div class="float-left content-margin content-padding" style="width: 55%;">

        <form [ngFormModel]="form">

            <div *ngFor="let dynamicFormControlModel of dynamicFormModel.model" class="form-row">

                <dynamic-form-basic-control [model]="dynamicFormControlModel"
                                            [form]="form"
                                            #dynamicFormControl></dynamic-form-basic-control>

            </div>

        </form>

    </div>

</div>