index.ts

src/*.ts
src/*.spec.js
src/*.spec.js.map
!src/*.d.ts
src/*.spec.d.ts

src/component/*.ts
src/component/*.spec.js
src/component/*.spec.js.map
!src/component/*.d.ts
src/component/*.spec.d.ts

src/model/*.ts
src/model/*.spec.js
src/model/*.spec.js.map
!src/model/*.d.ts
src/model/*.spec.d.ts

src/service/*.ts
src/service/*.spec.js
src/service/*.spec.js.map
!src/service/*.d.ts
src/service/*.spec.d.ts

src/model/checkbox/*.ts
src/model/checkbox/*.spec.js
src/model/checkbox/*.spec.js.map
!src/model/checkbox/*.d.ts
src/model/checkbox/*.spec.d.ts

src/model/input/*.ts
src/model/input/*.spec.js
src/model/input/*.spec.js.map
!src/model/input/*.d.ts
src/model/input/*spec.d.ts

src/model/radio/*.ts
src/model/radio/*.spec.js
src/model/radio/*.spec.js.map
!src/model/radio/*.d.ts
src/model/radio/*.spec.d.ts

src/model/select/*.ts
src/model/select/*.spec.js
src/model/select/*.spec.js.map
!src/model/select/*.d.ts
src/model/select/*.spec.d.ts

src/model/textarea/*.ts
src/model/textarea/*.spec.js
src/model/textarea/*.spec.js.map
!src/model/textarea/*.d.ts
src/model/textarea/*.spec.d.ts