<div class="content-margin" style="width: 50%;">

    <form [formGroup]="formGroup" class="k-form">

        <dynamic-kendo-form [group]="formGroup"
                            [layout]="formLayout"
                            [model]="formModel"
                            (blur)="onBlur($event)"
                            (change)="onChange($event)"
                            (focus)="onFocus($event)"
                            (kendoEvent)="onKendoEvent($event)">

            <ng-template modelId="roomSize" as="kendoDropDownListHeaderTemplate">

                <p><b>Select your room</b></p>

            </ng-template>

        </dynamic-kendo-form>

    </form>

    <pre>{{formGroup.value | json}}</pre>

</div>