<div [formGroup]="controlGroup"
     [ngClass]="[model.cls.element.container, model.cls.grid.container]">

    <div *ngIf="model.type !== 'RADIO_GROUP'" class="field"
         [class.error]="hasErrorMessaging && !hasFocus && isInvalid">

        <label *ngIf="model.type !== 'CHECKBOX' && model.type !== 'SWITCH'"
               [attr.for]="model.id"
               [innerHTML]="model.label"
               [ngClass]="model.cls.element.label"></label>


        <sm-checkbox *ngIf="model.type === 'CHECKBOX'"
                     [control]="control"
                     [label]="model.label"
                     [ngClass]="model.cls.element.control"></sm-checkbox>


        <sm-checkbox *ngIf="model.type === 'SWITCH'" type="toggle"
                     [control]="control"
                     [label]="model.label"
                     [ngClass]="model.cls.element.control"></sm-checkbox>


        <sm-input *ngIf="model.type === 'INPUT'"
                  [control]="control"
                  [ngClass]="model.cls.element.control"
                  [placeholder]="model.placeholder"
                  [type]="model.inputType"></sm-input>


        <sm-select *ngIf="model.type === 'SELECT'"
                   [control]="control"
                   [ngClass]="model.cls.element.control"
                   (onChange)="onValueChange($event)">

            <option *ngFor="let option of model.options"
                    [attr.name]="model.name"
                    [disabled]="!!option.disabled"
                    [ngValue]="option.value">{{option.label}}
            </option>

        </sm-select>


        <sm-textarea *ngIf="model.type === 'TEXTAREA'"
                     [control]="control"
                     [ngClass]="model.cls.element.control"
                     [rows]="model.rows"></sm-textarea>
    </div>


    <div *ngIf="model.type === 'RADIO_GROUP'" class="grouped fields" role="radiogroup"
         [ngClass]="model.cls.element.control">

        <label [attr.for]="model.id"
               [innerHTML]="model.label"
               [ngClass]="model.cls.element.label"></label>

        <sm-checkbox *ngFor="let option of model.options" type="radio"
                     [control]="control"
                     [label]="option.label"
                     [name]="model.name"
                     [value]="option.value"></sm-checkbox>
    </div>


    <div *ngIf="hasErrorMessaging" class="ui error message"
         [ngClass]="[model.cls.element.errors, model.cls.grid.errors]"
         [style.display]="showErrorMessages ? 'block' : 'none'">

        <ul class="list">

            <li *ngFor="let message of errorMessages">{{message}}</li>

        </ul>

    </div>


    <template *ngIf="model.type !== 'ARRAY'" [ngTemplateOutlet]="template" [ngOutletContext]="model"></template>

    <ng-content></ng-content>

</div>