<div [formGroup]="controlGroup"
     [class.error]="hasErrorMessaging && !hasFocus && isInvalid"
     [ngClass]="[model.cls.element.container, model.cls.grid.container]">

    <div *ngIf="model.type === 'ARRAY'"
         [dynamicId]="bindId && model.id"
         [formArrayName]="model.id"
         [ngClass]="model.cls.element.control">

        <fieldset *ngFor="let groupModel of model.groups; let idx = index" [formGroupName]="idx">

            <dynamic-form-semantic-control *ngFor="let controlModel of groupModel.group"
                                           [bindId]="false"
                                           [controlGroup]="control.at(idx)"
                                           [hasErrorMessaging]="controlModel.hasErrorMessages"
                                           [model]="controlModel"
                                           [nestedTemplates]="templates"
                                           (blur)="onFocusChange($event)"
                                           (change)="onValueChange($event)"
                                           (focus)="onFocusChange($event)"></dynamic-form-semantic-control>

            <ng-template [ngTemplateOutlet]="template" [ngTemplateOutletContext]="groupModel"></ng-template>

        </fieldset>

    </div>


    <fieldset *ngIf="model.type === 'GROUP' || model.type === 'CHECKBOX_GROUP'"
              [dynamicId]="bindId && model.id"
              [formGroupName]="model.id"
              [name]="model.name"
              [ngClass]="model.cls.element.control">

        <legend *ngIf="model.legend" [innerHTML]="model.legend"></legend>

        <dynamic-form-semantic-control *ngFor="let controlModel of model.group"
                                       [controlGroup]="control"
                                       [hasErrorMessaging]="controlModel.hasErrorMessages"
                                       [model]="controlModel"
                                       [nestedTemplates]="templates"
                                       (blur)="onFocusChange($event)"
                                       (change)="onValueChange($event)"
                                       (focus)="onFocusChange($event)"></dynamic-form-semantic-control>
    </fieldset>


    <sm-checkbox *ngIf="model.type === 'CHECKBOX'"
                 [control]="control"
                 [dynamicId]="bindId && model.id"
                 [label]="model.label"
                 [ngClass]="model.cls.element.control"></sm-checkbox>


    <sm-checkbox *ngIf="model.type === 'SWITCH'" type="toggle"
                 [control]="control"
                 [dynamicId]="bindId && model.id"
                 [label]="model.label"
                 [ngClass]="model.cls.element.control"></sm-checkbox>


    <sm-input *ngIf="model.type === 'INPUT'"
              [control]="control"
              [dynamicId]="bindId && model.id"
              [label]="model.label"
              [ngClass]="model.cls.element.control"
              [placeholder]="model.placeholder"
              [type]="model.inputType"></sm-input>


    <sm-select *ngIf="model.type === 'SELECT'"
               [control]="control"
               [dynamicId]="bindId && model.id"
               [label]="model.label"
               [ngClass]="model.cls.element.control"
               (onChange)="onValueChange($event)">

        <option *ngFor="let option of model.options"
                [attr.name]="model.name"
                [disabled]="!!option.disabled"
                [value]="option.value">{{option.label}}</option>

    </sm-select>


    <sm-textarea *ngIf="model.type === 'TEXTAREA'"
                 [control]="control"
                 [dynamicId]="bindId && model.id"
                 [label]="model.label"
                 [ngClass]="model.cls.element.control"
                 [rows]="model.rows"></sm-textarea>


    <div *ngIf="model.type === 'RADIO_GROUP'" class="fields" role="radiogroup"
         [dynamicId]="bindId && model.id"
         [ngClass]="model.cls.element.control">

        <label [attr.for]="model.id"
               [innerHTML]="model.label"
               [ngClass]="model.cls.element.label"></label>

        <sm-checkbox *ngFor="let option of model.options" type="radio"
                     [control]="control"
                     [label]="option.label"
                     [name]="model.name"
                     [value]="option.value"></sm-checkbox>
    </div>


    <div *ngIf="hasErrorMessaging" class="ui error message"
         [ngClass]="[model.cls.element.errors, model.cls.grid.errors]"
         [style.display]="showErrorMessages ? 'block' : 'none'">

        <ul class="list">

            <li *ngFor="let message of errorMessages">{{message}}</li>

        </ul>

    </div>


    <ng-template *ngIf="model.type !== 'ARRAY'" [ngTemplateOutlet]="template" [ngTemplateOutletContext]="model"></ng-template>

    <ng-content></ng-content>

</div>