<div class="content-margin" style="width: 50%;">

    <mat-card>

        <form [formGroup]="formGroup">

            <dynamic-material-form [group]="formGroup"
                                   [model]="formModel"
                                   (blur)="onBlur($event)"
                                   (change)="onChange($event)"
                                   (focus)="onFocus($event)"
                                   (matEvent)="onMatEvent($event)"></dynamic-material-form>

        </form>

    </mat-card>

    <pre>{{formGroup.value | json}}</pre>

</div>